
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta   name="author" content="Imane Ghaffour">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <header>
            <img src="../static/img/logo2go.jpg"  id="logo" >
        </header>
        <div class="header-container">
            <div class="page-header"></div>
                


                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">

                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                <a class="nav-link active text-white-50" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link text-white-50" href="#section-symptoms">Symptoms</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link text-white-50" href="#section-causes">Causes</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link text-white-50" href="/diagnosis/">Diagnostic</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

            </div>
        </div>


    
        {% block content %}
        {% endblock %}

    </body>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-section about">
                    <h2>About Us</h2>
                    <p>Solving the world's toughest medical problems. Our relentless research turns into earlier diagnoses and new cures.
                         That's how we inspire hope in those who need it most.</p>
                </div>
                <div class="footer-section contact">
                    <h2>Contact Us</h2>
                    <p>Email: info@early-detection.com</p>
                    <p>Phone: +33 1 47 34 00 00</p>
                </div>
                
            </div>
        </div>

</html>
