{%extends "base.html" %}

{% block content %}
<p class="lead">Fill the needed data to predict if you have diabetic retinopathy!</p>
<div class = "container p-5">
    <form action="/prediction/" id="prediction-form" method="post">

        <div class="form-group col-md-6">
            <label for="MaculaDistance" class="form-label">Distance between optic disc and macula center</label>
            <input type="number" step="0.01" min="0" max="0.6" class="form-control" id="inputMaculaDistance" name="MaculaDistance" placeholder="Enter a float value">
            
          </div>


        <div class="mb-3">
          <label for="OpticdiscDiameter" class="form-label">Diameter of the optic disc</label>
          <input type="number" step="any" min="0" max="0.3" class="form-control" id="inputDiameter" name="OpticdiscDiameter">
    
        
        </div>

        <div class="mb-3">
          <label for="Ma1" class="form-label" >MA detection</label>
          <input type="number" step="1" min="0" max="150" class="form-control" class="form-control-sm" id="inputMa" name="Ma1" placeholder="Enter a float value">
          
        </div>

        <div class="mb-3 exudates">
          <label for="Exudate1" class="form-label">Exudate1</label>
          <input type="number" step="any" min="0" class="form-control" id="inputExudate1" name="Exudate1">

          <label for="Exudate2" class="form-label">Exudate2</label>
          <input type="number" step="any" min="0" max="430" class="form-control" id="inputExudate2" name="Exudate2">

          <label for="Exudate3" class="form-label">Exudate3</label>
          <input type="number" step="any" min="0" ax="430" class="form-control" id="inputExudate3" name="Exudate3">

          <label for="Exudate31" class="form-label">Exudate4</label>
          <input type="number" step="any" min="0"  ax="430" class="form-control" id="inputExudate31" name="Exudate31">

          <label for="Exudate5" class="form-label">Exudate5</label>
          <input type="number" step="any" min="0" ax="430" class="form-control" id="inputExudate5" name="Exudate5" placeholder="Enter a float value">



        </div>

        <button type="submit" class="btn btn-primary" onclick="setAction('/prediction/')">Predict</button>
      </form>

</div>
{% endblock %}